# ignore files with no extension:
*
!*/
!*.*
!Makefile
!Dockerfile

# normal ignores:
*.exe
nimcache
/capsuleer_courier_service2
*.pdb
*.ilk
*.out
.*
!.gitignore
nim.cfg

# Move build artifacts:
**/build/
Move.lock
