# ignore files with no extension:
*
!*/
!*.*
!Makefile
!Dockerfile

# normal ignores:
*.exe
nimcache
/capsuleer_courier_service2
*.pdb
*.ilk
*.out
.*
!.gitignore
!.env.example
nim.cfg

# Move build artifacts:
**/build/
Move.lock

# Generated env and deployment files:
deployments/

# Node.js:
node_modules/
package-lock.json

# Nim JS build output:
tests/*.js
tests/*.js.map
